@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap);
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
}

input,textarea {
    border: 1px solid #e22640;
    height: 40px;
}

#textarea1 {
    height: 120px;
    width: 370px;
}

.flexbox {
    box-shadow: rgba(226, 40, 64, 0.534) 0px 7px 29px 0px;
    display: flex;
    flex-direction: row;
    height: 480px;
}

.boxes {
    display: flex;
    flex: 2;
    background-color: #e22840;
    height: 100%;
}

.boxes1 {
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inputboxes {
    text-align: left;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#ContactNTV {
    text-align: center;
    padding: 20px;
    color: white;
}

#submit {
    color: white;
    background-color: #e22640;
    height: 40px; 
    border: 0px
}
#submitdiv{
    padding-left: 10px;
    padding-right: 10px;
}

#EmailUs {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    align-self: auto;
}
.row {
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
}